# macOS
.DS_Store
.AppleDouble
.LSOverride

# Android Studio
.idea/
*.iml
.gradle/
local.properties

# Android specific
/app/build/

# Gradle
/build/
.gradle/

# Log files
*.log

# GitHub
.github/

# Miscellaneous
*.class
*.hprof
*.jar
*.war
*.ear

